<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Поиск профилей</title>
  <style>
    .form-control {
      display: block;
      width: 50%;
      padding: 0.375rem 0.75rem;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      background-clip: padding-box;
      border: 1px solid #ced4da;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      border-radius: 0.375rem;
      transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
  </style>
</head>
<body>

<div class="page">
  <header class="header">
    <h1 class="header__title">Поиск профилей</h1>
  </header>
  <form method="get" th:action="${'/blog/filter/profile'}">

      <label>
        <input type="text" name="nickname" placeholder="Никнейм" class="form-control">
      </label>
      <button type="submit">Найти</button>
      <label>
        Точный поиск:
        <input type="checkbox" name="accurate_search" placeholder="Точный поиск" th:checked="${accurate_search}">
      </label>

    <div class="content_box" th:each="el : ${results}">
      <div class="box-flex">
        <label for="nickname">Никнейм:</label>
        <p id='nickname' th:text="${el.nickname}"></p>
      </div>
      <div class="box-flex">
        <label for="name">Имя:</label>
        <p id='name' th:text="${el.name}"></p>
      </div>

      <div class="box-flex">
        <label for="surename">Фамилия:</label>
        <p id='surename' th:text="${el.surename}"></p>
      </div>

      <div class="box-flex">
        <label for="patron">Отчество:</label>
        <p id='patron' th:text="${el.patron}"></p>
      </div>

      <div class="box-flex">
        <label for="about_me">Обо мне:</label>
        <p id='about_me' th:text="${el.nickname}"></p>
      </div>

      <div class="box-flex">
        <label for="age">Возраст:</label>
        <p id='age' th:text="${el.age}"></p>
      </div>
    </div>
  </form>
</div>

</body>
</html>